@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply rounded-lg font-lindenHill text-xl tracking-wide;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.btn[disabled], .btn:disabled {
  --tw-text-opacity: 1;
  @apply text-gray-200;
}

.table :where(thead, tbody) :where(tr:not(:last-child)), .table :where(thead, tbody) :where(tr:first-child:last-child) {
  @apply border-b-gray-200;
}

.table :where(th, td) {
  @apply pt-2 pb-2;
}